---
---
<div class="nav-links">
    <a href="/"><img src="/src/images/book.png" width="25" alt="Simple drawing of book"></a>
    <a href="/droversWife">The Drover's Wife</a>
    <a href="/shootingTheMoon">Shooting The Moon</a>
    <a href="/unionBuriesItsDead">Union Buries It's Dead</a>
</div>